html, body {
	padding: 0;
	margin: 0;
  border: 0;
}

html {
	font-size: 1em;
}

body {
  	color: #fff;
	background: #444;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#header {
	display: inline;
}


#num {
	width: 36px;
	height: 28px;
	padding: 10px;
	background-color: #222;
	color: #bf9720;
	border: 0 none;
	font-size: 1.4em;
	text-align: center;
}

#num:hover {
	cursor: pointer;
}

input {
	display: inline;
	margin: 0 auto;
	border: 0 none;
	padding: 10px;
	margin-bottom:  20px;
	margin-top: 20px;
	border-radius: 0;
	background-color: #bf9720;
	color: inherit;
	width: 200px
}
#preview {
	display: inline;
	width: 20px;
	height: 20px;
	background-color: black;
	color: black;
	border: 2px solid white;
}
#preview-text {
	display: block;

}

#frame {
  display: flex;
  align-items: center;
  justify-content: center;
	flex-wrap: wrap;
	margin-top: 2.5vh;
}


